.header-bg {
  background-color: #000;
}

.header {
  display: flex;
  flex-wrap: wrap; /* quando chega um momento que nao cabe mais do lado um do outro ele quebra*/
  justify-content: space-between;
  align-items: center;
  gap: 20px; /*quebra quando chega a 20px*/
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px; /* define um tamanho maximo para o site */
  margin-left: auto; /* deixa o conteudo alinhado ao centro caso chega no max width */
  margin-right: auto;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #fff;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    background-color: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu {
    gap: 20px;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }
  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
